h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1.8rem;
}
body {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
button {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 3rem;
  border-radius: 4px;
  color: #fff;
  background-color: #009933;
  border: none;
}
.off {
  color: #fff;
  background-color: #604f43;
}
a {
  text-decoration: none;
}
